p {
    font-family: Roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    /* This style below will be inherited */
    font-family: Roboto, Arial;
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248, 248, 248);
    height: 3000px;
}

@media (min-width: 1600.1px) {
    main {
        margin-left: 168px;
    }

    /* 这里写成main或者body效果都是一样的，
    虽然body里面还有header和sidebar，但是这两个都是position: fixed，
    所以不受margin-left的影响，实际上只影响body里的main。 */
}

/* 2026.04.07 17:42 - 2026.04.21 12:25 */