body {
    height: 3000px;
}

.fixed-div {
    background-color: grey;
    width: 320px;
    height: 180px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.close-button {
    position: absolute;
    top: -18px;
    left: -18px;
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 2026.04.15 23:06 */