p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

div {
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.cat {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

.name {
  font-weight: bold;
  font-size: 18px;
  margin-left: 8px;
  margin-bottom: 4px;
}

.introduce {
  color: rgb(100, 100, 100);
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 12px;
}

.add {
  background-color: rgb(24, 119, 242);
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 8px;
  margin-bottom: 10px;
}

/* 2026.03.31 16:12 */
